{% extends "base.html" %}
{% block content_body %}

<h1>Welcome!</h1>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-group">
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Username" value={{ username }}>
    </div>
    <div class="input-group">
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" value={{ password }}>
    </div>

    <input class="btn btn-primary btn-lg" type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
