{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<head>
        {{ form_attempt.media }}
		<title>Quiz</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
    <h1>Take a Quiz</h1>
		<form action="" method="post"> {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
        <!-- Show the question -->
        {% if question %}
            Q: {{ question.question|markdown }}
        {% else %}
            (NOTE: there are no questions)
        {% endif %}


        {% if not question.answer %}
            (NOTE: there is no answer for this question)
        {% endif %}
        <!-- Show the form fields for the attempt -->
        <div class="fieldWrapper">
            {{ form_attempt.attempt.label_tag }}
            {{ form_attempt.attempt }}
            {{ form_attempt.attempt.errors }}
        </div>

        {% if form_attempt.errors %}
            <p> Errors:
                <div class="fieldWrapper">
                    {{ form_attempt.errors }}
                </div>
        {% endif %}

        <input class="btn btn-primary btn-lg" type="submit" value="Submit" /> 

        <!-- Add urls to edit the question and answer in the Django admin -->
        {% if question %}
            <br> <a href="{% url 'admin:questions_question_change' question.id %}">Edit question</a>
            {% if question.answer %}
                <br> <a href="{% url 'admin:questions_answer_change' question.answer.id %}"> | Edit answer </a>
            {% endif %}
        {% endif %}
      </div>

      <div class="col-md-6">
        <br>Tags for this question: [{{ question_tag_names }}]
        <br>
        <br>Question added  date  : [{{ question.datetime_added }}]
        <br>Question updated date : [{{ question.datetime_updated }}]

        <!-- Last attempt for this question -->
        <br/>Last time this question was scheduled (answered): [{{ last_schedule_added.datetime_added }}]
        <br/>Num times this question was answered: [{{ num_schedules }}]
        <br/>Next scheduled time for this question: [{{ last_schedule_added.date_show_next }}]

        <!-- Show the number of schedules added in the last 30m, 1h, 4h, 1d -->
        <br/>Schedules recently added (# questions answered in last 30m, ...): 
        <br/>Tags selected: [{{ user_tag_names }}]

      <details>
          <summary>Tags</summary>
        <!-- Show all the tags -->
        <p>
        Ask questions with these tags:<br>
        {{ modelformset_usertag.management_form }}
        {% if modelformset_usertag.non_form_errors %}
            {{ modelformset_usertag.non_form_errors }}
        {% endif %}
        {% if modelformset_usertag.errors %}
            {{ modelformset_usertag.errors }}
        {% endif %}


        {% for form_usertag in modelformset_usertag.forms %}
            {{ form_usertag }} 
            (num_questions=[{{ form_usertag.instance.num_questions }}]) 
            {{ form_usertag.interval_counts }}
            </br>
        {% endfor %}
      </details>

        </p>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
        <p>
      </div>

		</form>
	</body>
</html>
{% endblock %}
