{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content_head %}
    {{ form_select_tags.media }}
{% endblock %}

{% block content_body %}
    <h1>Select tags</h1>
    <form method="post">
      {% csrf_token %}

      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      <p/>
      <p/>
      {{ form_select_tags.query_prefs }}
      <p/>
      <div class="col-xs-12">
            {% for tag_form_name, tag_fields in tag_form_name2fields.items %}
              <div class="row">
                  <div class="col-sm-6">
                    <input type="checkbox" 
                      id="{{ tag_form_name }}"
                      name="{{ tag_fields.tag_form_name }}" 
                      value="{{ tag_fields.tag_form_label }}"
                    />
                    <label for="{{ tag_form_name }}">{{ tag_fields.tag_form_label }}</label>
                  </div>
              </div>
            {% endfor %}
      </div>

      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </form>
{% endblock %}