# *.ipynb* -- ignore IPython Notebook files
*.ipynb*
*.pyc
# *.log -- e.g. geckodriver.log ghostdriver.log
*.log
# .swp -- vim temp swap files
*.swp
# db_dumps -- directory for putting database dumps via Makefile commands
db_dumps
tmp/
ignore*
# local_settings django file
local_settings.py
# ignore collected static files (output from `python manage.py collectstatic`)
/static
