*.pyc
*.log
# .swp -- vim temp swap files
*.swp
# db_dumps -- directory for putting database dumps via Makefile commands
db_dumps
tmp/
#virtualenv dirs
font-size: 1em;
bin
include
lib
local
pip-selfcheck.json
# local_settings django file
local_settings.py
# not sure what's in these dirs :/
selenium
share
# ignore collected static files (dir that results from `python manage.py collectstatic`
/static
