[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
splinter = "==0.8.0"
django-debug-toolbar = "*"
django-extensions = "*"
# jupyterlab = "*"
pudb = "*"

[packages]
py2-py3-django-email-as-username = "*"
django-markdown-deux = "*"
django-pagedown = "*"
psycopg2 = "*"
pytz = "*"
six = "*"
python-dateutil = "*"
Django = "*"
humanize = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
# Django -- the Django framework
# django-debug-toolbar -- useful for viewing queries, and profiling performance
# django-extensions -- many useful development extensions, e.g., manage.py commands:
#   manage.py shell_plus --notebook  => use iPython Jupyter Notebook
#   manage.py shell_plus --print-sql  ==> print SQL queries as they're executed; NOTE: need Debug=True
#   manage.py shell_plus --ipython
# and other manage.py commands:
#   clean_pyc
#   clear_cache
#   compile_pyc
#   create_command
#   delete_squashed_migrations
#   runserver_plus
#   shell_plus
#   validate_templates
#
# django-markdown-deux -- for "markdown" template tag to convert markdown to html
# django-pagedown -- markdown wysiwyg editor
# humanize -- converts time durations to human-readable times (e.g., "11 days")
# jupyterlab -- used with django-extensions "manage.py shell_plus --notebook" to run IPython Jupyter Notebook (note: also need "brew install jupyter")
# pudb -- a full-screen python debugger
# psycopg2 -- Postgresql API
# py2-py3-django-email-as-username -- used to allow an email address as a username; this was needed when the project was started with Django 1.4, but could now be removed, as Django now natively supports this functionality.
# python-dateutil --
# pytz -- timezones
# selenium -- for testing web pages
# splinter -- for testing
