[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
splinter = "==0.8.0"

[packages]
py2-py3-django-email-as-username = "*"
django-markdown-deux = "*"
django-pagedown = "*"
markdown2 = "*"
psycopg2 = "*"
pytz = "*"
six = "*"
python-dateutil = "*"
Django = "*"

[requires]
python_version = "3.7"
