[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
splinter = "==0.8.0"
django-debug-toolbar = "*"
django-extensions = "*"
jupyterlab = "*"

[packages]
py2-py3-django-email-as-username = "*"
django-markdown-deux = "*"
django-pagedown = "*"
psycopg2 = "*"
pytz = "*"
six = "*"
python-dateutil = "*"
Django = "*"
humanize = "*"

[requires]
python_version = "3.8"
# django-markdown-deux -- for "markdown" template tag to convert markdown to html
# django-pagedown -- markdown wysiwyg editor
# humanize -- converts time durations to human-readable times (e.g., "11 days")
# jupyterlab -- used with django-extensions "manage.py shell_plus --notebook" to run IPython Jupyter Notebook (note: also need "brew install jupyter")
