# requirements.txt -- python packages needed to run the quizme app

Django==1.6.11

South==0.8.4  # database migrations

# email-as-username used for using email addresses as usernames
django-email-as-username==1.6.7

# markdown-deux for displaying markdown as html; import markdown_deux
django-markdown-deux==1.0.4

# django-pagedown for markdown editor; import pagedown
django-pagedown==0.1.0

psycopg2==2.5.2  # Python interface to Postgresql

# six is required by python-dateutil
six==1.10.0
# python-dateutil is used for relativedelta/timedelta "months" and "years" (import dateutil)
python-dateutil==2.4.2
