# requirements-dev.txt -- python packages needed to test the quizme app,
#                         to check PEP8 compliance, and debug

django-debug-toolbar==1.0  # handy Django info in browser useful for debugging
                           # Note that 1.2.2 is newer, but it requires a newer
                           # 1.7 version of Django
# sqlparse is required by django-debug-toolbar
sqlparse==0.1.10

# flake8 for pep8 style-checking
flake8==2.5.0
# mccabe is required by flake8
mccabe==0.3.1
# pep8 is required by flake8
pep8==1.5.7
# pyflakes is required by flake8
pyflakes==1.0.0

# selenium is used by splinter for browser testing (firefox, phantomjs, ...)
selenium==2.46.0

# splinter is an interface to facilitate browser testing; it calls selenium
splinter==0.6.0
