{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<head>
        {{ form_schedule.media }}
		<title>Answer</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
      <div class="row">
        <div class="col-md-6">
            <form action="" method="post"> {% csrf_token %}
                <div class="fieldWrapper" style="background-color:#00FFCC">
                    Q: 
                    {{ question.question|markdown }}
                </div>

                <div class="fieldWrapper" style="background-color:#FFFF85">
                    Your answer:
                    {{ attempt.attempt|markdown }}
                    <p>
                    <p>
                </div>

                <div class="fieldWrapper" style="background-color:#66FF33">
                    Correct Answer:
                    {{ answer.answer|markdown }}
                    <p>
                </div>

                <div class="input-group"> <label>Percent Correct:</label>
                    <input id="id_percent_correct" name={{ form_schedule.percent_correct.name }} step="0.01" type="number" value={{ form_schedule.percent_correct.value }} />
                </div>
                <div class="input-group">
                    <label>Percent Importance:</label>
                    <input id="id_percent_importance" name={{ form_schedule.percent_importance.name }} step="0.01" type="number" value={{ form_schedule.percent_importance.value }} />
                </div>
                <div class="input-group">
                    <label>Interval num:</label>
                    <input id="id_interval_num" name={{ form_schedule.interval_num.name }} step="0.01" type="number" value={{ form_schedule.interval_num.value }}/>
                </div>
                <div class="input-group">
                    <label>Interval unit:</label>
                    <select id="id_interval_unit" name={{ form_schedule.interval_unit.name }} value={{ form_schedule.interval_unit.value }}>
                        <option value="seconds">seconds</option>
                        <option value="minutes">minutes</option>
                        <option value="hours">hours</option>
                        <option value="days">days</option>
                        <option value="weeks">weeks</option>
                        <option value="months">months</option>
                        <option value="years">years</option>
                    </select>
                </div>


                {% if form_schedule.errors %}
                <p> Errors:
                    <div class="fieldWrapper">
                        {{ form_schedule.errors }}
                    </div>
                {% endif %}
                </p>

                <input class="btn btn-primary btn-lg" type="submit" value="Submit" /> 

                <!-- Add urls to edit the question and answer in the Django admin -->
                {% if question %}
                    <br> <a href="{% url 'admin:questions_question_change' question.id %}">Edit question</a>
                    {% if answer %}
                        <br> <a href="{% url 'admin:questions_answer_change' answer.id %}"> | Edit answer </a>
                    {% endif %}
                {% endif %}

                <br>Tags for this question: [{{ question_tag_names }}]

                <p>
                Ask questions with these tags:<br>
                {{ modelformset_usertag.management_form }}
                {% if modelformset_usertag.non_form_errors %}
                    {{ modelformset_usertag.non_form_errors }}
                {% endif %}
                {% if modelformset_usertag.errors %}
                    {{ modelformset_usertag.errors }}
                {% endif %}


                {% for form_usertag in modelformset_usertag.forms %}
                    {{ form_usertag }} 
                    (num_questions=[{{ form_usertag.instance.num_questions }}]) 
                    {{ form_usertag.interval_counts }}
                    </br>
                {% endfor %}


                <p>
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
            </form>
        </div>
      </div>
	</body>
{% endblock %}
