{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<head>
        {{ form_schedule.media }}
		<title>Answer</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
		<form action="" method="post"> {% csrf_token %}
            <div class="fieldWrapper" style="background-color:#00FFCC">
                Q: 
                {{ question.question|markdown }}
            </div>

            <div class="fieldWrapper" style="background-color:#FFFF85">
                Your answer:
                {{ attempt.attempt|markdown }}
                <p>
                <p>
            </div>

            <div class="fieldWrapper" style="background-color:#66FF33">
                Correct Answer:
                {{ answer.answer|markdown }}
                <p>
            </div>


            {{ form_schedule.as_p }}

            {% if form_schedule.errors %}
            <p> Errors:
                <div class="fieldWrapper">
                    {{ form_schedule.errors }}
                </div>
            {% endif %}
            </p>

            <input type="submit" value="Submit" /> 

            <!-- Add urls to edit the question and answer in the Django admin -->
            {% if question %}
                <br> <a href="{% url 'admin:questions_question_change' question.id %}">Edit question</a>
                {% if answer %}
                    <br> <a href="{% url 'admin:questions_answer_change' answer.id %}"> | Edit answer </a>
                {% endif %}
            {% endif %}

            <br>Tags for this question: [{{ question_tag_names }}]

            <p>
            Ask questions with these tags:<br>
            {{ modelformset_usertag.management_form }}
            {% if modelformset_usertag.non_form_errors %}
                {{ modelformset_usertag.non_form_errors }}
            {% endif %}
            {% if modelformset_usertag.errors %}
                {{ modelformset_usertag.errors }}
            {% endif %}


            {% for form_usertag in modelformset_usertag.forms %}
                {{ form_usertag }} 
                (num_questions=[{{ form_usertag.instance.num_questions }}]) 
                {{ form_usertag.interval_counts }}
                </br>
            {% endfor %}


            <p>
            <input type="submit" value="Submit" />
		</form>
	</body>
{% endblock %}
