{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<head>
        {{ form_attempt.media }}
		<title>Quiz</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
		<form action="" method="post"> {% csrf_token %}
            {% if question %}
                Q: {{ question.question|markdown }}
            {% else %}
                (NOTE: there are no questions)
            {% endif %}

            <div class="fieldWrapper">
                {{ form_attempt.attempt.label_tag }}
                {{ form_attempt.attempt }}
                {{ form_attempt.attempt.errors }}
            </div>

            {% if form_attempt.errors %}
                <p> Errors:
                    <div class="fieldWrapper">
                        {{ form_attempt.errors }}
                    </div>
            {% endif %}

            <input type="submit" value="Submit" /> 

            <p>
            Ask questions with these tags:<br>
            {{ modelformset_usertag.management_form }}
            {% if modelformset_usertag.non_form_errors %}
                {{ modelformset_usertag.non_form_errors }}
            {% endif %}
            {% if modelformset_usertag.errors %}
                {{ modelformset_usertag.errors }}
            {% endif %}


            {% for form_usertag in modelformset_usertag.forms %}
                {{ form_usertag }} 
                (num_questions=[{{ form_usertag.instance.num_questions }}]) 
                {{ form_usertag.interval_counts }}
                </br>
            {% endfor %}

            </p>
            <input type="submit" value="Submit" />
            <p>
		</form>
	</body>
</html>
{% endblock %}
