{% extends "base.html" %}

	<head>
		<title>Quiz</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
		<form action="" method="post"> {% csrf_token %}
            {# question_id is a hidden field that contains the question #}
            {{ form_attempt.hidden_question_id }}

            <div class="fieldWrapper">
                Correct Answer:
                {{ answer.answer }}
            </div>

            <div class="fieldWrapper">
                Your answer:
                {{ attempt.attempt }}
            </div>

            <div class="fieldWrapper">
                Question: 
                {{ question.question }}
            </div>

            {% if form_attempt.errors %}
            <p> Errors:
                <div class="fieldWrapper">
                    {{ form_attempt.errors }}
                </div>
            {% endif %}
            </p>
            <a href="/"> Next Question </a>
		</form>
	</body>
