{% extends "base.html" %}

{% block content %}
	<head>
		<title>Quiz</title>
		<meta url-encoding="utf-8" />
	</head>
	<body>
		<form action="" method="post"> {% csrf_token %}
            {% comment %}
                <input type="hidden" name="question_id" value="{{ form_attempt.question_id }}"/>
                {# TODO: add hidden field for question_id #}
                {# TODO: figure out in Django how to show a widget #}
                {{ form_attempt.question_id }}
                "{{ form_attempt.question_id }}"
                <input {{ form_attempt.question_id }} />

                <div class="fieldWrapper">
                    {{ form_attempt.question_id }}
                </div>
            {% endcomment %}

            {{ form_attempt.hidden_question_id }}
            {% if question %}
                {{ question.question }}
            {% else %}
                (NOTE: there are no questions)
            {% endif %}

            <div class="fieldWrapper">
                {{ form_attempt.attempt.label_tag }}
                {{ form_attempt.attempt }}
                {{ form_attempt.attempt.errors }}
            </div>

            {% if form_attempt.errors %}
                <p> Errors:
                    <div class="fieldWrapper">
                        {{ form_attempt.errors }}
                    </div>
            {% endif %}

            </p>
            <input type="submit" value="Submit" />
            <p>
		</form>
	</body>
</html>
{% endblock %}
